@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body, html, a{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('../img/background.jpg');
	background-size: cover;
}

nav{
	width: 100%;
	margin: 0 auto;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	width:100%;
	z-index: 5;
}

li{
	float: right;
	padding: 26px 28px;
}

li a{
	display: block;
	padding: 10px 12px;
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: 'Alfa Slab One', cursive;
	font-size: 20px;
}

li a:hover{
	color: #f24141;
}

.active {
    color: #f24141;
}

.titulo h1{
	color: white;
	margin-top: 200px;
	font-size: 60px;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

.imagens{
	width: 90%;
	height:1000px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 50px;
}

.separador{
	/*position: absolute;*/
	display: block;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	width: 32%;
	height: 32%;
}

.separador img{
	width: 100%;
	height: 100%;
}

.separador2{
	/*position: absolute;*/
	display: block;
	margin-top: 10px;
	margin-left: 9px;
	margin-right: 19px;
	float: right;
	width: 787px;
	height: 32%;
}

.separador2 img{
	width: 100%;
	height: 100%;
}

.separador3{
	/*position: absolute;*/
	display: block;
	margin-top: 10px;
	float: left;
	width: 32%;
	height: 650px;
	margin-left: 10px;
}

.separador3 img{
	width: 100%;
	height: 100%;
}

@media only screen and (max-device-width : 1024px){
	.separador2{
		float: left;
		width: 98.5%;
	}

	.separador3{
		float: left;
		width: 49%;
	}

	#grande{
		width: 48.3%;
	}
}