@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body, html, a{
	margin: 0;
	padding: 0;
}

nav{
	width: 100%;
	margin: 0 auto;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: rgba(255, 255, 255, 1);
	position: fixed;
	top: 0;
	width:100%;
	z-index: 5;
}

li{
	float: right;
	/*padding: 2% 2.1%;*/
	padding: 26px 28px;
}

li a{
	display: block;
	padding: 10px 12px;
	text-align: center;
	text-decoration: none;
	color: black;
	font-family: 'Alfa Slab One', cursive;
	font-size: 20px;
}

li a:hover{
	color: #f24141;
}

.active {
	color: #f24141;
}

.pratoPrincipal{
	float: left;
	background-image: url('../img/prato.jpg');
	background-size: cover;
	width: 42%;
	height: 135vh;
	position: relative;
	margin-left: 7%;
	margin-right: 1%;
	margin-top: 100px;
	margin-right: 0;
	text-align: center;
}

.tituloPrato h1{
	font-size: 40px;
	position: absolute;
	top: 15%;
	color: white;
	font-family: 'Roboto Slab', serif;
	left: 50%;
	margin-left: -162.5px;
}

.botaoPrato{
	position: absolute;
	top:25%;
	left:50%;
	margin-left: -12.5%;
	width: 25%;
	padding: 0;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	font-size: 21px;
	font-family: 'Crimson Text', serif;
	background: rgba(0, 0, 0, 0.3);
}

.botaoPrato a{
	padding: 10px 10px;
	display: block;
	text-decoration: none;
	color: white;
}

.botaoPrato a:hover{
	background: rgba(0, 0, 0, 0.3);
}

.sobremesa{
	float:right;
	margin-right: 7%;
	background-image: url('../img/sobremesa.jpg');
	background-size: cover;
	width: 42%;
	height: 135vh;
	position: relative;
	margin-left: 1%;
	margin-top: 100px;
}

.tituloSobremesa h1{
	font-size: 40px;
	position: absolute;
	top: 15%;
	color: white;
	font-family: 'Roboto Slab', serif;
	left: 50%;
	margin-left: -114.7px;
}

.botaoSobremesa{
	position: absolute;
	top:25%;
	left:50%;
	margin-left: -12.5%;
	width: 25%;
	padding: 0;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	font-size: 21px;
	font-family: 'Crimson Text', serif;
	background: rgba(0, 0, 0, 0.3);
}

.botaoSobremesa a{
	padding: 10px 10px;
	display: block;
	text-decoration: none;
	color: white;
}

.botaoSobremesa a:hover{
	background: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-device-width : 1024px){
	.pratoPrincipal{
		width: 87%;
		height: 80vh;
		margin-left: 6.5%;
		margin-right: 6.5%;
	}


	.tituloPrato h1{
		font-size: 60px;
		top: 26%;
		left: 50%;
		margin-left: -243.72px;
	}

	.botaoPrato{
		margin-top: 20%;
		font-size: 40px;
	}

	.sobremesa{
		margin-right: 6.5%;
		margin-left: 6.5%;
		margin-top: 20px;
		margin-bottom: 50px;
		width: 87%;
		height: 80vh;
	}

	.tituloSobremesa h1{
		font-size: 60px;
		top: 26%;
		left: 50%;
		margin-left: -172.165px;
	}

	.botaoSobremesa{
		margin-top: 20%;
		font-size: 40px;
	}

	.escurecer{
		width:100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
	}
}

@media only screen and (max-device-width : 650px){

	.pratoPrincipal{
		height: 60vh;
	}

	.sobremesa{
		height: 60vh;
	}

}

@media only screen and (max-device-width : 550px){

	li a{
		padding: 10px 12px;
		font-size: 30px;
	}

	.tituloPrato h1{
		font-size: 80px;
		top: 22%;
		left: 50%;
		margin-left: -324.96px;
	}

	.tituloSobremesa h1{
		font-size: 80px;
		top: 22%;
		left: 50%;
		margin-left: -229.55px;
	}

	.botaoPrato{
		top:24%;
		font-size: 60px;
		margin-left: -17.5%;
		width: 35%;
	}

	.botaoSobremesa{
		top:24%;
		font-size: 60px;
		margin-left: -17.5%;
		width: 35%;
	}

}

@media only screen and (max-device-width : 450px){

	li a{
		padding: 10px 12px;
		font-size: 35px;
	}

	.pratoPrincipal{
		height: 46vh;
	}

	.sobremesa{
		height: 46vh;
	}
}

@media only screen and (max-device-width : 320px){

	li a{
		padding: 10px 12px;
		font-size: 40px;
	}

	.tituloPrato h1{
		font-size: 90px;
		top: 27%;
		left: 50%;
		margin-left: -365.58px;
	}

	.tituloSobremesa h1{
		font-size: 90px;
		top: 27%;
		left: 50%;
		margin-left: -258.25px;
	}

	.botaoPrato{
		top:30%;
	}

	.botaoSobremesa{
		top:30%;
	}

}
